aiohttp
aiofiles
asyncio
cryptography
dnspython
ffmpeg-python
future
gitpython
pyrogram==1.4.16
hurry.filesize
heroku3
motor==3.0.0
pillow
psutil
pyyaml==5.3.1
python-dotenv
pyromod
py-tgcalls==0.8.6
requests
search-engine-parser
tgcrypto
uvloop
wget
youtube-search-python
youtube-search
git+https://github.com/yt-dlp/yt-dlp.git
telegraph
regex
html5lib
